{% extends "base.html" %} 
{% block title %}
{{ User Data }}
{% endblock  %} 

{% block content %}


<h3> User Data</h3>
{% if users %}
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Registration Date</th>
      <th scope="col">Token Balance</th>
      <th scope="col">Successful User</th>
    </tr>
  </thead>
  <tbody>
      {% for record in users %}
    <tr>
      <th scope="row">{{record.name}}</th>
      <td>{{record.registration_date}}</td>
      <td>{{record.token_balance}}</td>
      {% if {{record.token_balance}} == 0 %}
      <td><p style="color: red;"> Unsucessful</p>  </td>
      {% else %}  
      <td><p style="color:darkgreen"> Sucessful</p>  </td>
      {% endif %}
    </tr>
   {% endfor %}
  </tbody>
</table>
{% else %}
<p> No User data</p>
{% endif %}
{% endblock %}